<!DOCTYPE html>
<html lang="en" ng-app="coursesApp">
<head>
    <meta charset="UTF-8">
    <title>Course add page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="/js/angular.min.js"></script>
</head>
<body>

<div ng-controller="coursesController" ng-init="loadTeachersList(); updateCoursesList()" style="display: flex">

    <!-- This is table with info about courses. Also courses can be removed !-->
    <div style="padding-right: 20px">
        <h2>Courses list</h2>
        Courses number: {{courses_list.length}}
        <table border="1">
            <tr>
                <th>Course Title</th>
                <th>Teacher</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="course in courses_list">
                <th>{{course.title}}</th>
                <th>{{course.teacher_name}}</th>
                <th><input type="checkbox" ng-model="course.to_remove"/></th>
            </tr>
        </table>
        <button ng-click="removeCourses()">Remove selected</button>
    </div>

    <!-- Here user can add a new course. Courses table will be refreshed after addition !-->
    <div>
        <h2>Add a new course</h2>

        <div><label>Course title:</label><input type="text" ng-model="new_course_data.title"/></div>
        <div><label>Teacher:</label>
            <select ng-model="new_course_data.teacher_id">
                <option ng-repeat="teacher in teachers_list" value={{teacher.id}}>
                    {{teacher.name}}
                </option>
            </select>
        </div>
        <button ng-click="addCourse()">
            Add course
        </button>
    </div>
</div>

<script src="/js/coursesApp.js"></script>
</body>
</html>