<!DOCTYPE html>
<html lang="en" ng-app="groupsApp">
<head>
    <meta charset="UTF-8">
    <title>Teacher edit page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<div ng-controller="groupsController" ng-init="updateGroupsList()" style="display: flex">

    <!-- This is table with info about groups !-->
    <div style="padding-right: 20px">
        <h2>Groups list</h2>
        Groups number: {{groups_list.length}}
        <table border="1">
            <tr>
                <th>Group number</th>
                <th>Graduation year</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="group in groups_list">
                <th>{{group.number}}</th>
                <th>{{group.graduation_year}}</th>
                <th><input type="checkbox" ng-model="group.to_remove"/></th>
            </tr>
        </table>
        <button ng-click="removeGroups()">Remove selected</button>
    </div>

    <!-- Here user can add a new group. Groups table will be refreshed after addition !-->
    <div>
        <h2>Add a new group</h2>
        <div><label>Group number:</label><input type="text" ng-model="new_group_data.number"/></div>
        <div><label>Graduation year:</label>
            <input type="number" min="2020" max="2099" step="1" ng-model="new_group_data.year"/></div>

        <button ng-click="addGroup()">Add group</button>
    </div>

</div>

<script src="/js/angular.min.js"></script>
<script src="/js/groupsApp.js"></script>
</body>
</html>