<!DOCTYPE html>
<html lang="en" ng-app="lessonsApp">
<head>
    <meta charset="UTF-8">
    <title>Lessons add page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="/js/angular.min.js"></script>
</head>
<body>

<div ng-controller="lessonsController" ng-init="loadGroupsList(); loadCoursesList();" style="display: flex">

    <!-- This is table with info about lessons !-->
    <div style="padding-right: 20px">
        <h2>Lessons timetable</h2>
        Lessons number: {{lessons_list.length}}
        <table border="1">
            <tr>
                <th>Group number</th>
                <th>Course title</th>
                <th>Day</th>
                <th>Time</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="lesson in lessons_list">
                <th>{{lesson.group_number}}</th>
                <th>{{lesson.course_title}}</th>
                <th>{{lesson.day}}</th>
                <th>{{lesson.time}}</th>
                <th><input type="checkbox" ng-model="lesson.to_remove"/></th>
            </tr>
        </table>
        <button ng-click="removeLessons()">Remove selected</button>
    </div>

    <!-- Here user can add a new lesson. Lessons table will be refreshed after addition !-->
    <div>
        <h2>Add a new lesson into timetable</h2>
        <div><label>Group number:</label>
            <select ng-model="new_lesson_data.group_id">
                <option ng-repeat="group in groups_list" value={{group.id}}>
                    {{group.number}}
                </option>
            </select>
        </div>
        <div><label>Course title:</label>
            <select ng-model="new_lesson_data.course_id">
                <option ng-repeat="course in courses_list" value={{course.id}}>
                    {{course.title}}
                </option>
            </select>
        </div>
        <div><label>Day:</label>
            <select ng-model="new_lesson_data.day">
                <option value=0>Sunday</option>
                <option value=1>Monday</option>
                <option value=2>Tuesday</option>
                <option value=3>Wednesday</option>
                <option value=4>Thursday</option>
                <option value=5>Friday</option>
                <option value=6>Saturday</option>
            </select>
        </div>
        <div><label>Time:</label>
            <input type="text" ng-model="new_lesson_data.time" pattern="[0-2][0-9]:[0-5][0-9]"/></div>
        <button ng-click="addLesson()">
            Add lesson
        </button>
    </div>

</div>


<script src="/js/lessonsApp.js"></script>
</body>
</html>