<!DOCTYPE html>
<html lang="en" ng-app="teachersApp">
<head>
    <meta charset="UTF-8">
    <title>Teacher edit page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<div ng-controller="teachersController" ng-init="updateTeachersList()" style="display: flex">

    <!-- This is table with info about teachers. Also teachers can be removed !-->
    <div style="padding-right: 20px">
        <h2>Teachers list</h2>
        Teachers number: {{teachers_list.length}}
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Salary</th>
                <th>Birth year</th>
                <th>E-mail</th>
				<th>Password</th>
                <th>Remove</th>
            </tr>
            <tr ng-repeat="teacher in teachers_list">
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.secondName}}</td>
                <td>{{teacher.salary}}</td>
                <td>{{teacher.birthDate.getFullYear()}}</td>
                <td>{{teacher.email}}</td>
				<td>{{teacher.password}}</td>
                <td><input type="checkbox" ng-model="teacher.to_remove"/></td>
            </tr>
        </table>
        <button ng-click="removeTeachers()">Remove selected</button>
    </div>

    <!-- Here user can add a new teacher. Teachers table will be refreshed after addition !-->
    <div>
        <h2>Add a new teacher</h2>
        <div><label>First name:</label><input type="text" ng-model="new_teacher_data.firstName"/></div>
        <div><label>Second name:</label><input type="text" ng-model="new_teacher_data.secondName"/></div>
        <div><label>Salary:</label><input type="number" ng-model="new_teacher_data.salary"/></div>
        <div><label>Birth date:</label><input type="date" ng-model="new_teacher_data.birthDate"/></div>
        <div><label>Email:</label><input type="email" ng-model="new_teacher_data.email"/></div>
        <div><label>Password:</label><input type="password" ng-model="new_teacher_data.password"/></div>
        <button ng-click="addTeacher()">
            Add teacher
        </button>
    </div>

</div>

<script src="/js/angular.min.js"></script>
<script src="/js/teachersApp.js"></script>
</body>
</html>