<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher edit page</title>
    <style type="text/css">
        label {
            width: 250px;
            display: inline-block;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div id="teachersList" data-ng-app="teachersList" data-ng-controller="myCtrl">
    <h2>Teachers list</h2>
    <table border="1">
        <tbody teachers></tbody>
    </table>

    <h2>Form for adding a new teacher</h2>
    <div>
        <label>First name:</label>
        <input type="text" ng-model="form.firstName"/>
    </div>

    <div>
        <label>Second name:</label>
        <input type="text" ng-model="form.secondName"/>
    </div>

    <div>
        <label>Salary:</label>
        <input type="number" ng-model="form.salary"/>
    </div>

    <div>
        <label>Birth date (yyyy-MM-dd):</label>
        <input type="text" ng-model="form.birthDate"/>
    </div>

    <div>
        <label>Email:</label>
        <input type="text" ng-model="form.email"/>
    </div>

    <div>
        <label>Password:</label>
        <input type="text" ng-model="form.password"/>
    </div>

    <button ng-click="addTeacher()">Add teacher</button>
</div>

<script src="/admin/app.js"></script>
</body>
</html>