<!DOCTYPE html>
<html lang="en" ng-app="timetable_viewerApp">
<head>
    <meta charset="UTF-8">
    <title>Timetable viewer</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

<h1> Timetable viewer</h1>

<div ng-controller="timetable_viewerController" ng-init="loadCoursesList(); loadGroupsList(); loadTeachersList(); "
     style="display:flex">

    <!-- Here user can select timetable viewer options !-->
    <div style="padding:10px">
        <!-- Radiobuttons for select viewer option -->
        <div>
            Select timetable viewer option:
            <p><input type="radio" ng-model="viewer_state.option" value="nocond"> No condition
            <p><input type="radio" ng-model="viewer_state.option" value="teachers"> Teachers
            <p><input type="radio" ng-model="viewer_state.option" value="groups"> Groups
        </div>
        <!-- Drop-down list to select specific teacher or group -->
        <div ng-switch on="viewer_state.option">
            <div ng-switch-when="nocond">
                Shown all data
            </div>
            <div ng-switch-when="teachers">
                Select teacher:
                <p><select ng-model="viewer_state.id">
                    <option ng-repeat="teacher in teachers_list" value={{teacher.id}}>{{teacher.firstName + " " + teacher.secondName}}</option>
                </select>
            </div>
            <div ng-switch-when="groups">
                Select group:
                <p><select ng-model="viewer_state.id">
                    <option ng-repeat="group in groups_list" value={{group.id}}>{{group.number}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Here user see the timetable !-->
    <div style="padding:10px">
        Items: {{lessons_list.length}}
        <table border="1">
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Course</th>
                <th>Group</th>
                <th>Teacher</th>
            </tr>
            <tr ng-repeat="lesson in lessons_list">
                <td>{{lesson.day}}</td>
                <td>{{lesson.time}}</td>
                <td>{{lesson.course.title}}</td>
                <td>{{lesson.group.number}}</td>
				<td>{{lesson.teacher.firstName + " " + lesson.teacher.secondName}}</td>
            </tr>
        </table>
    </div>

</div>

<script src="js/angular.min.js"></script>
<script type="text/javascript"> angular.module('timetable_viewerApp', []); </script>
<script src="js/timetable_viewerApp.js"></script>
</body>
</html>